<ion-header>
  <ion-navbar hideBackButton="true" [ngClass]="{'toolbar1':edit, 'toolbar2': save}">
    <button ion-button clear item-end class="back_btn" left (click)="dismiss()">Cancel</button>
    <ion-title class="title">
      Vital Condition
    </ion-title>
    <button *ngIf="save" ion-button clear item-end class="back_btn create" style="right: 0px;" (click)="createVitalData()"><ion-icon name="md-checkmark"></ion-icon>Save</button>
    <button *ngIf="!save" ion-button clear item-end class="back_btn create" style="right: 0px;" (click)="updateVitalData()"><ion-icon name="md-checkmark"></ion-icon>Save</button>
    <div class="header-title">
        <img src="assets/icon/white/warning.png" alt="">
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="portfolio">

    <ion-list class="data">

      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" placeholder="Name of condition" [(ngModel)]="vitalData.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Treating Physician</ion-label>
        <ion-select [(ngModel)]="vitalData.is_private">
          <ion-option value="" selected>Select</ion-option>
          <ion-option *ngFor="let item of state" [value]="item.value_string">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Notes</ion-label>
        <ion-input type="text" placeholder="Enter Notes" [(ngModel)]="vitalData.notes"></ion-input>
      </ion-item>

    </ion-list>

    <button  *ngIf="!save" ion-button class="pdf" outline full>
      <img src="assets/icon/gray/document-lines.png" alt="" class="">
      <p>medical_document.pdg</p>
      <ion-icon name="arrow-dropdown" item-end></ion-icon>
    </button>

    <button ion-button color="light" outline full large style="color: #00d59c;"><ion-icon name="attach" style="margin-right: 10px;"></ion-icon>Attach Document</button>
    <button *ngIf="!save" ion-button color="light" outline full large style="color: red" (click)="deleteAlert()">Delete Vital Condition</button>

</ion-content>
