page-personal-info {

  .header{
    height: 180px;
    width: 100%;
    background-color: #009cee;
    .navigation{
      .back_btn{
        padding: 0 5px;
        color: white;

      }

    }
  }
}
